{% extends 'base.html.twig' %}

{% block title %}Hello admin!{% endblock %}

{% block body %}
  <main>
    <h1>Hello from <em>DashboardController</em>!</h1>
    <p>Path: <code>{{ path | json_encode }}</code></p>
  </main>
{% endblock %}
