<!DOCTYPE HTML>
<html lang="pl">
<tal:block metal:use-macro="macros.xml/pageMetadata"/>
<tal:block metal:use-macro="macros.xml/pageHeader"/>
<tal:block metal:use-macro="../macros.xml/pageMessages"/>

<form action="" method="post">
<fieldset>
<legend>Nowe zdarzenie specjalne</legend>
<label>ID: <input name="newId"/></label>
<label>Nazwa: <input name="newName"/></label>
<button>dodaj</button>
</fieldset>
</form>

<form action="" method="post" tal:condition="items">
<table class="border">
<thead>
<tr>
	<th>ID</th>
	<th>Nazwa</th>
	<th colspan="2">
		<button>usuń zaznaczone</button>
	</th>
</tr>
</thead>
<tbody>
<tr tal:repeat="item items">
	<td>${item/event_id}</td>
	<td>${item/name}</td>
	<td><a href="event-edit?id=${item/event_id}">edytuj</a></td>
	<td><label><input type="checkbox" name="del[]" value="${item/event_id}"/> usuń</label></td>
</tr>
</tbody>
</table>
</form>

<tal:block metal:use-macro="macros.xml/pageFooter"/>
</html>
